:root {
    font-size: 16px;
    color-scheme: light dark;
    --font-size-xx-small: 0.5rem;
    --font-size-x-small: 0.7rem;
    --font-size-small: 0.9rem;
    --font-size-medium: 1.1rem;
    --font-size-large: 1.4rem;
    --font-size-x-large: 2.1rem;
    --font-size-xx-large: 3rem;
}

* {
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: var(--font-size-medium);
    font-family: -apple-system, system-ui, Verdana, sans-serif;
    margin: 0;
    background: #f2f5f7;
}

main {
    flex: 1;
    line-height: 1.6em;
}

.post-info > h1 {
    margin-top: 0
}
main, article {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.post-info {
    margin: 0;
    line-height: var(--font-size-small);
}

.post-info h5, .post-item h5 {
    margin: 0;
    line-height: var(--font-size-medium);
}

.post-info h6, .post-info div h6, .post-item h6 {
    color: darkgray;
    line-height: var(--font-size-medium);
    margin: 0;
}

h1 {
    line-height: 1.1em;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

h2 {
    margin-bottom: 0.1em;
    border-bottom: 1px solid;
}

h6 strong {
    color: black;
}


header {
    width: 100%;
    background-color: #4d4d4d;
    color: #fff;
    height: 50px;
    position: relative;
}

header > .nav-links {
    display: inline;
    float: right;
}

header > .nav-links > a {
    display: inline-block;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    color: #efefef;
}

header > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

header > .nav-btn {
    display: none;
}

header > #nav-check {
    display: none;
}


@media only screen and (max-width: 768px) {

    header > .nav-links > a {
        padding: 25px;
    }

    header > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    header > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }


    header > .nav-btn > label:hover, header #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    header > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }


    header > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0;
        transition: all 0.1s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0;
        text-align: right;
    }

    header > .nav-links > a {
        display: block;
        width: 100%;
    }

    header > #nav-check:not(:checked) ~ .nav-links {
        height: 0;
    }

    header > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    main {
        margin-left: auto;
        margin-right: auto;
    }

}

.logo {
    max-height: 50px;
    border: none;
    position: absolute;
}

.logo > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.logo > a {
    display: inline-block;
    padding: 5px 20px 0 20px;
    text-decoration: none;
    color: #efefef;
}

.logo > a > img {
    max-width: 100px;
    height: 40px;
}

main > article{
    flex: 1;
    line-height: 1.6em;
    /*background: white;*/
    /*margin: 10px 0 10px 0;*/
    /*border-radius: 6px;*/
    /*padding: 1.5em 2em 1.5em 2em;*/
    /*box-shadow: 0 1px 2px rgb(48 54 60 / 15%);*/
}
.post-item, main > article {
    /* border: 1px solid lightgray; */
    border-radius: 6px;
    color: inherit;
    box-shadow: 0 1px 2px rgb(48 54 60 / 15%);
    padding: 5px 30px 5px 30px;
    margin: 20px 3px 20px 3px;
    background: WHITE;
}

.post-item:hover {
    box-shadow: 0 10px 15px -5px rgb(48 54 60 / 15%), 0 1px 2px 0 rgb(48 54 60 / 15%);
    transition: all 0.1s ease-in-out;
    transform: translate(0, -1px);
}

article a {
    text-decoration: underline;
    color: #68c40c;
}

article a:visited {
    color: #305f07;
}


a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

p {
    margin: 0 0 1.6em 0;
    padding: 0;
}

footer {
    width: 100%;
    text-align: center;
    padding: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #4d4d4d;
    color: #fff;
}

pre {
    padding: 10px;
    border: 2px solid darkgray;
    background-color: lightgrey;
    border-radius: 5px;
    overflow: scroll;
}

pre code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: var(--font-size-small);
}

.footnotes {
    font-size: 0.8rem;
}

.footnotes li p {
    line-height: 1rem;
    margin-bottom: 0.5em;
}


@media (prefers-color-scheme: dark) {
    body {
        color: #e4e4e4;
        background-color: #1e1e1e;
    }

    main > article, .post-item {
        background-color: #4d4d4d;
    }

    header h1 a {
        color: #fff;
    }

    header, footer, pre {
        color: #888;
    }

    pre > code {
        color: black;
    }

}

@media print {
    header, footer, main > h1, .post-info, main > article > h2 {
        display: none !important;
    }

    article a {
        color: black;
    }

    main > article {
        line-height: 1em;
        border: none;
        box-shadow: none;
    }
}