<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${fixedPage.getLabel()}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
	<header th:replace="header :: header"/>
	<main>
		<article>
			<h2 th:text="${fixedPage.getLabel()}"/>
			<div class="post-info">
				<div th:if="${fixedPage.isUpdated()}">
					<h6 th:utext="'Updated: <em>' + ${fixedPage.getFormattedUpdatedDate()} + '</em>'"/>
				</div>
				<h6 th:text="${fixedPage.getFormattedCreatedDate()}"/>
			</div>

			<p th:utext="${fixedPage.getContent()}" />
		</article>
	</main>
	<footer th:replace="footer :: footer"></footer>
</body>
</html>